::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
 
::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  outline: 1px solid #e5e5e5;
}


.nemo-box {
	width: 100%;
}

.box-cor {
	box-shadow: rgb(0 0 0 / 8%) 0px 5px 15px;
    background-color: #000;
    border-radius: 6px;
    width: 8%;
    padding: 0.8em;
    margin-right: 1em;
    float: left;
    min-height: 1.3em;
    line-height: 1.3em;
}

.box-cor-1 {
	box-shadow: rgb(0 0 0 / 8%) 0px 5px 15px;
    background-color: #4d5a68!important;
    border-radius: 6px;
    width: 30%;
    padding: 0.8em;
    float: left;
    min-height: 1.3em;
    line-height: 1.3em;
    text-align: center;
    cursor: pointer; 
    color: #fff;
    transition: 1s; 
}




html {
	background-color: #fff!important;
}

body {
	background-color: #fff!important;
}



.uk-text-large {
	font-size: 0.8em!important;
}

#remonter > button {
	border-radius: 25px!important;
	width: 100%!important;
	text-align: center!important;
	margin-top: 0.5em;
}

.buttons-actions-els button {
	margin-bottom: 1em;
}

#senting-smobiles {
	background-color: #1e87f0;
	border-radius: 25px;
	width: 100%;
	text-align: center;
}

.gat-notice .uk-card {
	margin-bottom: 3em!important;
}

.gat-notice .uk-card > p {
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8; 
	border-radius: 25px; 
	padding: 1em; 
	color: #333;
	text-transform: uppercase;
	word-break: break-all;
}

.gat-notice .uk-card  p > a {
	color: #1e87f0!important;
    text-decoration: none!important;
}

.low-bar-themes {
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8;
	margin-bottom: 1em; 
	padding: 1em;
	border-radius: 25px;
}

 .line-box  {
    right: 4em; 
    position: absolute;
}

.line-box span {
    margin-top: -1.5em;
    padding: 0.8em!important;
    color: #fff!important;
    background-color: #35a751; 
    border-radius: 100%;
    opacity: 0.6;
}

.button-edit-egis {
	margin-top: 2em;
}

.button-edit-egis button {
	background-color: #1452ff!important;
	border-radius: 25px!important;
}

.button-edit-egis button:hover{
	color: #1452ff!important;
	background-color: transparent!important;
	border-radius: 25px!important;
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
    background-color: #6cd42bbd!important;
    border-color: transparent;
}

#button-modals-checkes {
	position: fixed;
	bottom: 2em;
	background-color: #35a751;
	border: solid 1px #35a751;
	padding: 0.8em 1em;
	color: #fff;
	opacity: 1;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 25px;
	transition: 1s;
}


#button-modals-checkes:hover {
	opacity: 0.5;
}


#navbar-gerl {
	box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

form label {
	text-transform: uppercase;
	color: #333;
	font-size: 0.8em;
	font-weight: bold;
}


#remover-filter {
	background-color: red;
}

#remover-filter:hover{
	background-color: transparent;
	color: red;
	border-color: red;
}

.box-cent-home {
	text-align: center; 
	margin-top: 2em;
}


.uk-button-default {
	background-color: #007fe6;
	color: #fff;
	transition: 1s;
}


.uk-button-default:hover {
	background-color: transparent;
	color: #007fe6;
	border-color: #007fe6;
}


.box-cent-home h2 {
	color: #333;
	font-size: 1.4em;
	margin-bottom: 0.1em;
}


.box-cent-home p {
	margin-top: 0em;
	margin-bottom: 2em;
}

.box-cent-home img {
	width: 50%;
}

.js-upload {
	cursor: pointer;
}


.uk-table .uk-button-default {
	padding: 0em 1.5em;
	text-align: center;
}


.uk-table .uk-button-default svg {
	width: 1em;
}

.uk-table caption {
	background-color: #333333;
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 0.5em;
    opacity: 0.8;
}

.uk-table th {
	border: solid 1px #ddd;
	font-weight: bold;
	color: #333;
}


.uk-table td {
    padding: 0.8em 1em;
    border: solid 1px #ddd;
    vertical-align: inherit!important;
}

.title-home-page h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	color: #333;
	margin-bottom: 0em;	
}

.js-upload span {
	text-transform: uppercase; 
	font-size: 0.8em;
}

.img-div-card {
	background-color: #e5e5e580!important;
    width: 10em;
    text-align: center;
    background-position: center;
    min-height: 7em;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 700px #00000054!important;
    background-size: cover;
    border-radius: 5px;
}

#img-gallery-box-lines {
	max-height: 500px;
	overflow-y: auto;
}

.label-closed-img-modal label  {
    background-color: transparent;
    color: red;
    opacity: 0; 
    transition: 1s;
    cursor: pointer;
}

.box-img-flex:hover > .label-closed-img-modal label {
	opacity: 0.8!important;
}

#preview img {
	width: 3em;
	height: 3em;
	border-radius: 100%;
	margin-right: 0.5em;
}

.buto-teste {
	width: 100%;
	position: relative;
	margin-bottom: 1em;
}

#preview {
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 1em;
}

.box-img-flex p {
	font-size: 0.7em!important;
	margin-bottom: 0em;
	word-break: break-all;
	margin-top: 0em;
}

.img-div-card img {
	display: none;
}

#modal-close-default .uk-modal-title {
	text-transform: uppercase;
	font-size: 1.4em;
	margin-bottom: 0em;
}

#img-class-uk-table {
	width: 3em;
	height: 3em;
	border-radius: 5px;
}


#previews {
	width: 100%;
	position: relative;
	margin-top: 1em;
}


#new-cards-img {
	min-height: 13em;
}

#previews img {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	width: 5em;
	border-radius: 3px;
}


.uk-table-bloco {
	width: 3em;
	height: 3em;
	border-radius: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 700px #00000054!important;
    background-position: center;
    background-size: cover;
}

.home-1 {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#talbe-gmail  {
	width: 100%;
	margin-bottom: 5em!important;
}

#talbe-gmail tr > td {
	padding: 0.9em!important;
}


.imagem-class-iden {
	text-align: center;
	margin-bottom: 1em;
}

.imagem-class-iden img {
	box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
	border-radius: 0px;
	width: 100%;
	margin-bottom: 0em;
}

.imagem-class-iden p {
	color: #333!important;
	font-weight: bold;
	font-size: 1.3em!important;
	margin-top: 0.5em;
}

.title-min {
	text-align: center;
	padding: 1em;
	margin-bottom: 0em;
	margin-top: 1em;
}

.title-min h2 {
	text-transform: uppercase;
	font-size: 2em!important;
}


@media (min-width: 600px) {
	#new-cards-img { width: 7%; min-height: 4.9em; position: absolute; right: 0em; border-radius: 100%; top: -3.8em;}
	#list-edit-item { width: 99.99%; }
}
